extends layout

block content
  .container
    .card
      h2 About
      p Totally Legit Quotes was inspired by <a href="https://www.youtube.com/watch?v=dx8siugG440"> John Oliver's Quotes segmant</a> and his site <a href="http://www.definitelyrealquotes.com/"> Definitely Real Quotes </a>.
      p Also, despite the site's descriptive name, all the quotes in the site are <strong>not</strong> legitimate. Credit goes to the people of the Internet.
      
