extends layout

block content
  .container
    .card
      h2 Contact
      p Hi! I am Arturo. You can find me in the following places:
      p <a href="https://github.com/arturoalviar/" target="_blank" rel="noopener nofoloow" title="Github">Github</a> <span> | </span> <a href="https://www.linkedin.com/in/arturoalviar" target="_blank" rel="noopener nofoloow" title="LinkedIn">LinkedIn</a>
      
