extends layout

block content
  .container
    .container-small
      .card
        h2 This page does not exist — just like your dreams.
        p.right.italic - Steve Jobs
        img(src="http://i.imgur.com/WWMSVGb.jpg" alt="Steve Jobs Hates You")
