.btn{
  background: none;
  border: 0;
  outline: 0;
  padding: $spacing-unit/2 $spacing-unit;
}

.raised-btn{
  background: $btn;
  color: $btn-text;
  box-shadow: $material-box-shadow;
  border-radius: .25rem;
  font-weight: 500;
  @include animate();
  &:hover{
    box-shadow: $material-box-shadow-hover;
  }
}

.inline-btn{
  display: inline-block;
  margin: $spacing-unit auto;
}
