.main{
  margin: $spacing-unit auto;

}

.container{
  max-width: 800px;
  padding: 0 $spacing-unit/2;
  margin: 0 auto;

  a{
    @include animate();
  }
}

.container-small{
  max-width: 600px;
  margin: 0 auto;
}

.flexbox{
  @include flexbox();
}
