h1,h2,h3{
  color: $header-text-color;
}

span, p{
  color: $body-text-color;
}

.banner-content{
  h1{
    color: $white;
    font-size: 2.4rem;
  }
}

.center{
  text-align: center;
}

.right{
  text-align: right;
}

.italic{
  font-style: italic;
}


.card{
  p{
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .quote{
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: $spacing-unit;
  }
}
