$grey:                  #F1F1F1;
$black:                 #212121;
$white:                 #F5F5F5;
$true-white:            #FFFFFF;

$main-color:            #2e78ca;

$banner: $main-color;
$card: $true-white;

$inline-btn: $main-color;
$btn: $main-color;
$btn-text: $white;

$header-text-color: #546E7A;
$body-text-color: #78909C;
