
/*Sass mixins*/

@mixin animate($sec : .3s){
    -webkit-transition: all $sec ease-in-out;
    -moz-transition: all $sec ease-in-out;
    -o-transition: all $sec ease-in-out;
    -ms-transition: all $sec ease-in-out;
    transition: all $sec ease-in-out;
}

@mixin scale($size){
    -webkit-transform: scale($size);
    -moz-transform: scale($size);
    -o-transform: scale($size);
    transform: scale($size);
}

@mixin translate($x,$y){
    -webkit-transform: translate($x,$y);
    -moz-transform: translate($x,$y);
    -o-transform: translate($x,$y);
    transform: translate($x,$y);
}

@mixin rotate($deg){
    -webkit-transform:rotate($deg);
    -moz-transform:rotate($deg);
    -o-transition: rotate($deg);
    transition: rotate($deg);
}


@mixin rotateZ($deg){
    -webkit-transform:rotateZ($deg);
    -moz-transform:rotateZ($deg);
    -o-transition: rotateZ($deg);
    transition: rotateZ($deg);
}

@mixin flexy{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}


@mixin flexcol($type : column, $wrap : wrap, $item-align : center, $content-align : center, $justify-content : space-between){
  @include flexy;
  -webkit-flex-flow: $type $wrap;
  -ms-flex-flow: $type $wrap;
  flex-flow: $type $wrap;
  -webkit-align-items: $item-align;
  -webkit-content-items: $content-align;
  -webkit-justify-content: $justify-content;
  align-items: $item-align;
  align-content: $content-align;
  justify-content: $justify-content;
}

@mixin flexbox($type : row, $wrap : wrap, $item-align : center, $content-align : center, $justify-content : space-between){
  @include flexy;
  -webkit-flex-flow: $type $wrap;
  -ms-flex-flow: $type $wrap;
  flex-flow: $type $wrap;
  -webkit-align-items: $item-align;
  -webkit-content-items: $content-align;
  -webkit-justify-content: $justify-content;
  align-items: $item-align;
  align-content: $content-align;
  justify-content: $justify-content;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  order: $val;
}

@mixin anime($name, $s, $kind){
  -webkit-animation: $name $s $kind;
  -moz-animation:    $name $s $kind;
  -o-animation:      $name $s $kind;
  animation:         $name $s $kind;
}
