$base-font-family: Helvetica-Neue, sans-serif;
$google-font: 'Roboto', $base-font-family;
$header-font: 'Lato', $base-font-family;
$body-font: 'Arvo', $base-font-family;

$base-font-size:   1rem;
$small-font-size:  $base-font-size * 0.675;
$base-line-height: 1.6;

$footer-padding: 75px;
$spacing-unit:     1.5rem;
$sub-spacing-unit: $spacing-unit/2;


$material-box-shadow: 0 0 2px rgba(0,0,0,.14),0 2px 4px rgba(0,0,0,.18);
$material-box-shadow-hover: 0 0 4px rgba(0,0,0,.18),0 4px 8px rgba(0,0,0,.28);


$nav-width: 100%;

$max-z-index: 777;
$mid-z-index: 77;

$grid-col: 12;
$offset-col: 12;

$layout-width-max: 100%;

$layout-width: 960px;

$container-wide-padding: $sub-spacing-unit;

$container-padding: 0 1rem;

$margin-center: 0 auto;
